input/
.idea/
**/__pycache__
**/*.pyc

yolov7/train/
yolov7/test/
yolov7/yolov7-tiny.pt
yolov7/test.cache
yolov7/train.cache
yolov7/runs/
yolov7/examples/traced_model.pt
yolov7/wandb/
yolov7/yolov7-tiny-kitti.pt
yolov7/examples/runs

evaluation/yolov7/detections/
evaluation/mAP/output/
evaluation/mAP/input/

gazebo_data/

.venv/